*{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

button{
    border-radius: 20px;
    padding: 10px;
    background-color: green;
    color: aliceblue;
}

p{
    font-weight: bold;
    padding: 30px;
}
